* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(164, 220, 250);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.judul {
    display: flex;
    font-size: 20px;
}
.disdikpora {
    display: flex;
    flex-direction: column;
}
/* Navigation styling */
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
}

